.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 700;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-display-list::hover{
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.2);
}
.food-item-img-container{
    position: relative;
}

.food-item-img-container .add{
    position:absolute;
    width: 35px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}